.rooms-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 40px;
}

.room-card {
    background: white;
    margin-top: 60px;
    border-radius: 25px;
    padding: 25px;
    width: 280px;
    text-align: center;
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
    transition: all 0.3s ease;
    cursor: pointer;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
}

.room-card:hover {
    transform: translateY(-15px) scale(1.05);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}
.room-info {
    font-size: 24px;
    line-height: 1.6;
    padding:0;
    margin-bottom:5px;
}
.room-info .temp { 
    color: #e74c3c; 
    font-weight: bold; 
}
.room-info .humid { 
    color: #3498db; 
    font-weight: bold; 
}
.room-info .extra { 
    color: #95a5a6; 
    font-weight: bold;
}
.room-info .gas { 
    color: #e67e22; 
    font-weight: bold;
}

.room-img {
    width: 200px;
    height: 200px;
    padding-top:0px;
    object-fit: contain;
    margin-bottom: 20px;
    filter: drop-shadow(0 8px 16px rgba(0,0,0,0.2));
}

.icon {
    width: 60px;
}
.icon-gas{
    width:60px;
    margin-right:10px;
}

/* Responsive: màn hình nhỏ sẽ xuống 1 cột */
@media (max-width: 1000px) {
    .rooms-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .room-card {
        width: 320px;
    }
}