body {
    font-family: tahoma, sans-serif;
    margin: 0;
    padding:0;
    background-image: url("nen.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    width: auto;
    height: 750px;
    margin: 0 auto;
    background: rgb(203, 179, 224);
    position: relative;
}

/* HEADER */
#header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(to right, #8B3AFA, #D64DF5, #FF8AD9);
    background: linear-gradient(90deg, #6A1B9A, #9C27B0, #EC407A, #FF6E96);
}
#logo { width: 150px; height: 150px; }
#title { 
    flex: 1; 
    text-align: center; 
    font-size: 40px; 
    color: rgb(0, 0, 0); 
    font-weight: bold; 
}

/* MAIN LAYOUT */
#main-area { 
    display: flex; 
    height: calc(790px - 84px); /* Trừ header và border */
    margin: 0;
    padding: 0;
}

/* MENU LEFT */
#menu-left {
    margin: 0;
    width: 200px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(to right, #8B3AFA, #D64DF5, #FF8AD9);
    background: linear-gradient(90deg, #6A1B9A, #9C27B0, #EC407A, #FF6E96);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#menu-left button {
    width: 100%;
    padding: 20px 10px;
    font-size: 18px;
    background: #f7f9fc;
    border: 2px solid #2c3e50;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
#menu-left button:hover {
    background: #e8efff;
    transform: scale(1.02);
}

/* CONTENT */
#content {
    background: #ffffff;
    flex: 1;
    position: relative;
    overflow: hidden;
}

/* TIME BOX */
#time-box {
    position: absolute;
    top: 10px;
    right: 90px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    display: block;
}

/* FOOTER */
#footer {
    background: whitesmoke;
    min-height: 45px;
    width: 100%;
}
#footer ul {
    margin: 0;
    padding: 0;
}
#footer ul li {
    list-style: none;
    float: left;
    width: 60%;
    font-size: 15px;
}

/* COMMON TOGGLE BUTTON */
.btn-toggle {
    width: 90px;
    padding: 10px 0;
    background: #ff4d4d;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.btn-toggle.on {
    background: #2ecc71;
}

/* DEVICE ICON */
.dev-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
}